[submodule "lzfse2"]
	path = lzfse2
	url = git@github.com:raliclo/lzfse2.git
[submodule "libarchive"]
	path = libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd
[submodule "lz4"]
	path = lz4
	url = https://github.com/lz4/lz4
[submodule "xz"]
	path = xz
	url = https://github.com/tukaani-project/xz
